<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Realtime Stock Data</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

</head>

<body ng-app="app">
    <div class="container" ng-controller="main" ng-show="data.length">

        <div class="row" style="margin-left:0px;">
            <div class="col">
                <h2>Realtime Stock Data</h2>
                <button ng-disabled="isSocketRunning" class="btn btn-large btn-info" ng-click="start()">Start Fetching Data</button>
                <button ng-disabled="!isSocketRunning" class="btn btn-large btn-danger" ng-click="close()">Stop Fetching data</button>
            </div>
        </div>

        <br>

        <!-- {{MyData}} -->
        <!-- <span ng-repeat="aa in data">{{$index}} ---  {{aa}}</span> -->
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Realtime Stock Data</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Ticker</th>
                            <th>Price</th>
                            <th>Last Updated</th>
                        </tr>
                    </thead>
                    <tbody ng-if="data.length">
                        <tr ng-class="getStockStyle(obj)" ng-repeat="obj in data" ng-show="obj">
                            <th>{{$index+1}}</th>
                            <th>{{getStockName(obj)}}</th>
                            <td>{{getStockInfo(obj)}}</td>
                            <td>{{getStockTimeStatus(obj)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <style>
        .stock-info {
            background-color: #5bc0de;
        }

        .stock-success {
            background-color: #5cb85c;
        }

        .stock-danger {
            background-color: #d9534f;
        }
    </style>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Angular JS Library -->
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-websocket/dist/angular-websocket.js"></script>
    <script src="js/ngque.js"></script>
    <script src="js/index.js"></script>
</body>

</html>